<article class="panel panel-default">
    <div class="panel-header">

        Shopping Cart - Items in Cart: {{ cartQuantity }} | {{ cartSku }} {{ shoppingCart.nice_name }} ( {{ shoppingCart.model }} )
    </div>
    <div class="panel-body">
        <h3>Before you go, check out these fine products!</h3>
        <ul id="related-items">
            <li *ngFor="let item of relatedItems">
                <img src="{{imageSrc}}" />
                {{ item.sku }} <br>
                {{ item.nice_name }} <br>
                {{ item.pack_size[0] }}-dozen {{ item.product_type }} <br>
                {{ item.coffee_flavor }}
            </li>
        </ul>
    </div>
    <footer class="panel-footer">
        <div class="author">

        </div>
        <div class="config">
            <a (click)="getRelated()">Get Related Items (refreshes items from server)</a>
        </div>
    </footer>
</article>